:root {
    --main-color: #5352ed;
    --lighter-color: #fff;
    --dark-color: #333;
}
* {
    margin: 0;
    padding: 0;
}
*,::before,::after {
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}
a {
    text-decoration: none;
    color: inherit;
}
nav {
    color: var(--dark-color);
}
#banner {
    background-image: url('../images/bg.jpg');
}

.bg-main {
    background-color: #5A83D5;
}
.bg-white {
    background-color: white;
}
.buttom-img {
    margin-top: -200px;
}
.item {
    background-image: url(../images/bubble.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center;
    padding: 45px 15px 80px;
    margin-right: 50px;
}
.price-list {
    background-color: rgba(255, 255, 255, 0.822);
    border: 2px solid white;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
    flex-wrap: 1;
}
.flex-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.flex-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.flex-center img {
    margin-bottom: 10px;
}
.flex-center table {
    width: 100%;
}
.flex-center input, .flex-center textarea {
    width: 100%;
    padding: 15px;
    border-radius: 25px;
}
footer {
    background: var(--main-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    color: white;
}
.sosmed i {
    font-size: 1.5rem;
    margin-right: 20px;
}
@media screen and (min-width: 601px) {
    #banner {
        background-size: cover;
        height: 680px;
        padding: 110px 100px 0 ;
        display: flex;
        justify-content: space-between;
    }
    .svg {
        width: 500px;
    }
    .ope1 p {
        line-height: 2;
        font-size: 17px;
    }
    .ope1 button {
        margin: 20px auto;
        font-size: 20px;
        padding: 7px;
        border-radius: 25px;
        background-color: #3859CA;
        color: #fff;
        font-weight: lighter;
    }
    #banner h1 {
        margin-top: 70px;
        font-size: 62px;
        line-height: 40px;
        color: #3859CA;
    }
    .ope1 p {
        width: 500px;
    }
    .icon {
        display: none;
    }
    ul {
        list-style: none;
    }

    .header {
        max-width: 100%;
        margin: 0 auto;
        z-index: 100;
    }

    nav {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0%;
        padding: 0 0.9em;
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;
        text-transform: capitalize;
    }
    nav #title {
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 1.5em;
        line-height: 01.4;
        -webkit-transform: all .3s ease-out;
        transform: all .3s ease-out;
    }
    #title img {
        margin-right: 5px;
        width: 35px;
    }

    nav :where(li, a) {
        position: relative;
    }

    nav ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 1em;
        font-size: 1.5em;
        line-height: 1.4;
        -webkit-transform: all .3s ease-out;
        transform: all .3s ease-out;
    }

    nav ul li a:hover {
        background-color: var(--main-color);
    }

    .container {
        display: flex;
        justify-content: space-between;
        height: 650px;
        padding: 110px 100px 0;
        flex-wrap: 1;
    }
    .service {
        display: flex;
        flex-wrap: 1;
        margin-top: 20px;
    }
    .service img {
        margin-right: 20px;
    }
    .why {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column;
        color: white;
        width: 30%;
        border: 2px solid gainsboro;
        border-radius: 2%;
        padding: 20px;
    }
    .why h3 {
        line-height: 1;
    }
    .videos iframe{
        width: 550px;
        height: 250px;
        border: 3px solid rgba(102, 102, 102, 0.726);
        margin-right: 20px;
        border-radius: 25px;
    }
    .regis {
        width: 50vw;
    }
    article {
        background-color: rgba(255, 255, 255, 0.822);
        border: 2px solid white;
        border-radius: 25px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-right: 20px;
        flex-wrap: 1;
        width: 30vw;
        margin-top: 20px;
    }
    section img {
        width: 100%;
        border-radius: 25px;
    }
}
@media screen and (max-width: 600px) {
    #banner {
        top: 0;
        background-size: cover;
        height: 670px;
    }
    #banner h1 {
        padding-top: 110px;
        font-size: 45px;
        color: #3859CA;
    }
    .ope1 {
        padding: 10px;
    }
    .ope1 p {
        font-size: 17px;
    }
    .ope1 button {
        margin: 20px auto;
        font-size: 20px;
        padding: 7px;
        border-radius: 25px;
        background-color: #3859CA;
        color: #fff;
        font-weight: lighter;
    }
    #banner h4 {
        line-height: 0;
    }
    nav #title {
        display: none;
    }
   .svg {
    display: none;
   }

    ul {
        list-style: none;
    }

    .header {
        max-width: 100%;
        margin: 0 auto;
    }

    nav {
        position: fixed;
        bottom: 0%;
        background-color: var(--lighter-color);
        padding: 0 0.9em;
        box-shadow: rgb(50 50 93 / 25%) 0 50px 100px -20px, rgb(0 0 0 / 30%) 0 30px 60px -30px;
        overflow: hidden;
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
    }

    nav :where(li, a) {
        position: relative;
    }

    nav ul li a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        padding: 2em;
        font-size: 1.5em;
        line-height: 1.4;
        width: 80px;
        height: 80px;
        -webkit-transform: all .3s ease-out;
        transform: all .3s ease-out;
        overflow: hidden;
        }

    nav ul li a:hover {
        color: var(--main-color);
    }

    nav ul li a span {
        font-size: 10px;
    }

    /* animation */

    nav li::before,
    nav li::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 30px;
    }

    nav li::before {
        left: -20px;
        border-radius: 0 0 30px 0;
    }

    nav li::after {
        right: -20px;
        border-radius: 0 0 0 30px;
    }

    nav li.active::before,
    nav li.active::after {
        background-color: var(--lighter-color);
        top: 1px;
    }

    nav li.active a::before,
    nav li.active a::after {
        content: '';
        position: absolute;
        background-color: var(--main-color);
        z-index: -1;
    }

    nav li.active a::before {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
        height: 100%;
        border-radius: 30px 30px 0 0;
    }

    nav li.active a::after {
        left: -10px;
        bottom: 0;
        width: 100px;
        height: 40px;
    }

    nav li.active a, nav li.active a span    {
        color: var(--lighter-color);
    }
    nav li.active a:hover{
        color: var(--lighter-color);
    }
    #price .flex-row {
        flex-direction: column;
        
    }
    .container-img img {
        margin-top: 20px;
        width: 100%;
    }
    #service {
        padding: 40px 10px;
    }
    .service {
        margin: 20px ;
    }
    #why .service {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .why {
        text-align: center;
        color: white;
        width: 100%;
        border: 2px solid gainsboro;
        border-radius: 2%;
        padding: 20px;
        margin-bottom: 20px;
    }

    .why h3 {
        line-height: 1;
    }
    footer{
        margin-bottom: 85px;
    }
    #blog .flex-row {
        flex-direction: column;
    }
    article {
        background-color: rgba(255, 255, 255, 0.822);
        border: 2px solid white;
        border-radius: 25px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: 1;
        width: 100%;
        margin: 10px;
    }
    section img {
        width: 100%;
        border-radius: 25px;
    }
}